.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: var(--font-family-raleway);

    border-radius: 10px;

    &_primary {
        color: var(--white-700);

        background-color: var(--primary-orange-600);

        &:hover {
            background-color: var(--primary-orange-800);
        }

        &:active {
            background-color: var(--primary-orange-600);
        }

        &:disabled {
            color: var(--white-700);

            background-color: var(--grey-100);
        }
    }

    &_secondary {
        color: var(--primary-orange-600);

        background-color: var(--white-background);
        border: 2px solid var(--primary-orange-600);

        &:hover {
            color: var(--primary-orange-800);

            background-color: var(--primary-orange-100);
            border-color: var(--primary-orange-800);
        }

        &:active {
            color: var(--primary-orange-700);

            border-color: var(--primary-orange-700);
        }
        &:disabled {
            color: var(--grey-300);

            background-color: var(--grey-100);
            border-color: var(--grey-300);
        }
    }

    &_fill {
        height: 51px;
        width: 100%;
    }

    &_icon {
        justify-content: flex-start;
        gap: 16px;
        padding-left: 24px;
    }
}
