@use "~/assets/styles/mixins.scss";

.main-page {
    background: url("~/assets/images/main-background.png") center / cover;
    min-height: 100vh;
    padding: 8px 15px;
    position: relative;

    @include mixins.media("tablet") {
        padding: 8px 40px;
    }

    @include mixins.media("desktop") {
        padding: 8px 40px;
    }
}

.content-wrapper {
    color: var(--white-700);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 345px;

    @include mixins.media("tablet") {
        width: 440px;
    }

    @include mixins.media("desktop") {
        width: 996px;
    }
}

.heading {
    font: var(--font-weight-semi-bold) var(--font-size-h5-medium)
        var(--font-family-raleway);
    line-height: 150%;
    margin-bottom: 40px;

    @include mixins.media("desktop") {
        font: var(--font-weight-super-bold) var(--font-size-h2-big)
            var(--font-family-inter);
    }
}

.heading__span {
    color: var(--primary-orange-700);
}

.text {
    font: var(--font-weight-semi-bold) var(--font-size-body-medium)
        var(--font-family-raleway);
    margin-bottom: 40px;
}

.buttons-container {
    display: grid;
    gap: 24px;
    margin: 0 auto;
    width: 100%;

    @include mixins.media("tablet") {
        width: 74.5%;
    }

    @include mixins.media("desktop") {
        width: 38.6%;
    }
}
