@use "~/assets/styles/mixins.scss";

.main-page {
    position: relative;

    min-height: 100vh;
    padding: 8px 15px;

    background: url("~/assets/images/main-background.png") center / cover;

    @include mixins.media("tablet") {
        padding: 8px 40px;
    }

    @include mixins.media("desktop") {
        padding: 8px 40px;
    }
}

.content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 345px;

    color: var(--white-700);
    text-align: center;

    transform: translate(-50%, -50%);

    @include mixins.media("tablet") {
        width: 440px;
    }

    @include mixins.media("desktop") {
        width: 996px;
    }
}

.heading {
    margin-bottom: 40px;
    font: var(--font-weight-medium) var(--font-size-h5-medium) / 150%
        var(--font-family-raleway);

    @include mixins.media("desktop") {
        font: var(--font-weight-extra-bold) var(--font-size-h2-big)
            var(--font-family-inter);
    }

    &__span {
        color: var(--primary-orange-700);
    }
}

.text {
    margin-bottom: 40px;

    font: var(--font-weight-medium) var(--font-size-body-medium)
        var(--font-family-raleway);
}

.buttons-container {
    display: grid;
    gap: 24px;
    margin: 0 auto;
    width: 100%;

    @include mixins.media("tablet") {
        width: 74.5%;
    }

    @include mixins.media("desktop") {
        width: 38.6%;
    }
}
