:root {
    //COLORS
    --members-designer-voilet: #ccb2ff;
    --members-front-blue: #b2d1ff;
    --members-back-green: #c1eb97;
    --members-mobile-yellow: #f6de88;
    --members-qa-pink: #f8bde4;
    --members-stakeholder-brown: #e07e7e;

    --black: #333333;
    --yellow: #f1e5a9;
    --error-brick: #e54e3a;
    --green: #7ab61a;

    --primary-orange-800: #fe760d;
    --primary-orange-700: #f47f24;
    --primary-orange-600: #ff8c33;
    --primary-orange-500: #ffaf71;
    --primary-orange-400: #ffba85;
    --primary-orange-300: #ffc599;
    --primary-orange-200: #ffd1ad;
    --primary-orange-100: #ffe8d6;
    --primary-orange-50: #fff1e7;
    --primary-orange-30: #fff4eb;

    --grey-400: #858585;
    --grey-300: #999999;
    --grey-200: #adadad;
    --grey-100: #d6d6d6;
    --grey-50: #e9e9e9;

    --grey-text-600: #5b493e;
    --grey-text-500: #705e54;

    --secondary-purple-700: #956ce6;
    --secondary-purple-10: #f4eef8;

    --tertiary-blue-700: #0076b3;
    --tertiary-blue-400: #4c9fca;

    --white-700: #ffffff;
    --white-background: #fffcfa;

    //FONT FAMILY
	--font-family-raleway: "Raleway", sans-serif;
	--font-family-roboto: "Roboto", sans-serif;

    //FONT WEIGHT
    --font-weight-mega-bold: 900;
    --font-weight-super-bold: 800;
    --font-weight-extra-bold: 700;
    --font-weight-bold: 600;
    --font-weight-semi-bold: 500;
    --font-weight-text: 400;

    //FONT SIZE
    --font-size-h1-large: 96px;
    --font-size-h2-big: 60px;
    --font-size-h3-big: 32px;
    --font-size-h5-medium: 24px;
    --font-size-h6-medium: 20px;
    --font-size-button-medium: 16px;
    --font-size-body-medium: 14px;
    --font-size-nav-regular: 12px;
    --font-size-mob-regular: 10px;
}
